@import "tailwindcss";

.pentagon-shape {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  border-radius: 120px;
  opacity: 100%;
  transform: rotate(8deg);
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: scroll 30s linear infinite;
}

